# Greivance Redressal Mechanism API
# Contact the maintainers for these values.
GRM_API_URL=
GRM_API_TOKEN=
USER_ID=

# Anthropic API
ANTHROPIC_API_KEY=

# Google Custom Search API
# See the documentation here: https://developers.google.com/custom-search/v1/introduction
GOOGLE_API_KEY=
GOOGLE_CX_ID=

# Google Vertex AI
GOOGLE_VERTEX_PROJECT_ID=
GOOGLE_VERTEX_LOCATION=
# Path to the service account key file
GOOGLE_APPLICATION_CREDENTIALS=

# Elevenlabs API
ELEVENLABS_API_KEY=
ELEVENLABS_VOICE_ID=
